@import "../colors";

.main-header {
  height: 10%;
  width: 100%;
  text-transform: uppercase;

  background-color: $leather;
  .main-header__title {
    line-height: 70px;
    font-size: 20px;
    text-align: center;
  }
  .main-header__sub-category {
    position: absolute;
    top:0;
  }
}
