@import "../colors";

.topic-lists {

}
.topic-list {
  padding-top: 20px;
  .topic-list__title {
    font-size: 18px;
    font-weight: 600;
  }
  .topic-list__item {
    padding-left: 15px;
    margin-bottom: 3px;
    &:nth-child(odd) {
      color: $leather;
    }
    &:hover {
      @extend %selected-topic;
    }
    &.topic-list__item--selected {
      @extend %selected-topic;
    }
  }
}
%selected-topic {
  color: $save;
  font-weight: bold;
  cursor: pointer;
}