@import "../colors";

.topic-lists {
  width:30%;
}
.topic-list {
  .topic-list__title {
    font-size: 18px;
    font-weight: 600;
  }
  .topic-list__item {
    padding-left: 15px;
    line-height: 30px;
    font-size: 20px;
    text-transform: capitalize;
    &:nth-child(odd) {
      color: $grey;
      background-color: $blue-grey;
    }
    &:hover {
      @extend %selected-topic;
    }
    &.topic-list__item--selected {
      @extend %selected-topic;
    }
  }
  .topic-list__items {
    background-color: ghostwhite;
  }
}
%selected-topic {
  color: $save;
  font-weight: bold;
  cursor: pointer;
}