@import "HomeMenu.css"
@import "HomeContent.css"
@import "../colors"
$font-stack: Helvetica, sans-serif

body
  font: 100% $font-stack
  margin: 0
  overflow: hidden

.user-container
  font: 100% $font-stack
  color: #222222
  background-color: green
  height: 100%

.home-main
  height: 100%
  .home-header
    height: 10%
    width: 100%
    font-size: 20px
    text-transform: uppercase
    text-align: center
    background-color: $leather
    .title
      line-height: 70px
  .home-container
    height: 90%
    overflow: hidden
