@import "HomeMenu.css"
@import "HomeContent.css"
$font-stack: Helvetica, sans-serif

body
  font: 100% $font-stack

.user-container
  font: 100% $font-stack
  color: #222222
  background-color: green
  height: 100%

.home-main
  height: 100%
  width: 60%
