@import "../colors";
$checkbox-size: 15px;
$icon-size: 12px;

.labeled-checkbox-container {
  margin-bottom: 5px;
  .checkbox-label{
    display: inline-block;
    margin-right: 5px;
  }
  .checkbox-container {
    float: right;
  }
  .checkbox {
    height: $checkbox-size;
    width: $checkbox-size;
    background-color: $eggshell;
    border: 1px solid $steel;
    display: inline-block;
    z-index: 3;
    position: relative;
    vertical-align: middle;
    &.selected {
      z-index: 1;
      background-color: $save;
    }
    &.changed {
      border: 1px solid $apricot;
    }
  }
  .fa-check {
    position: relative;
    color: $steel;
    font-size: $icon-size;
    left: -$checkbox-size;
    z-index:2;
  }
}
